.hero-image {
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
}

.contact-details {
    height: 70vh;
    background-color: rgb(237, 186, 109);
}

.about-me {
    width: 100vw;
    height: 70vh;
    background-color: rgb(194, 148, 80);
}

.contact-text {
    font-size: 1.5rem;
}

.contact-image {
    width: 100px;
    height: 100px;
    border: 3px black solid;
    background-color: rgb(107, 75, 28);
}