@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

h1 {
    font-family: 'Roboto Mono';
    font-weight: 700;
}

h2 {
    font-family: 'Roboto Mono';
    font-weight: 500;
}

#nav-title {
    font-family: 'Roboto Mono';
    font-weight: 700;
    color: #042434;
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto Mono';
    font-weight: 300;
}

body {
    padding: none;
    margin: none;
    background-color: #042434;
}

/* Nav */

a {
    color: #042434 !important;
    text-decoration: none;
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
}

/* Hero Image section */

.hero-image {
    background: url(/assets/images/hero-image.png) center center no-repeat;
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    position: relative;
}

#hero-btn {
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    bottom: 60px;
    width: 5vw;
    height: 25vh;
}

h1 {
    color: #dca537;
}

p {
    color: #dca537;
}

/* Contact details section */

.contact-details {
    background-color: #042434;
    padding: 1px;
}

.contact-details>h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.contact-image {
    min-height: 40vw;
    border: 3px black solid;
    background-color: rgb(107, 75, 28);
    margin: 20px;
}

.contact-text {
    font-size: 1.5rem;
}


.image-container {
    margin-top: 20px;
}

/* About me section */

.about-me {
    width: 100vw;
    height: 70vh;
    background-color: #042434;
}

.about-me-image {
    min-height: 25vh;
    min-width: 30vw;
    border: 3px black solid;
    background-color: rgb(107, 75, 28);
    margin: 30px 0;
}

.image-row {
    padding-bottom: 25px;
}

#about-me-text {
    margin: 30px 0;
    padding-left: 10px;
}

#about-me-button {
    margin: 30px 0;
}

#about-me-cta {
    background-color: #dca537;
    min-height: 6vh;
    min-width: 20vw;
}

/* Form */

#form-container {
    backdrop-filter: blur(30px);
    padding: 30px 30px;
    max-width: 800px;
    position: relative;
    top: 20%;
    left: 0;
}

#form-btn {
    background-color: #dca537;
    min-height: 6vh;
    min-width: 20vw;
}

/* Work */

.experience-text {
    color: #dca537;
}

.work-text {
    color: #dca537;
}

#work-container {
    background-color: #042434;
}

.skill-container {
    background-color: #042434;
}

/* Skills */

.progress-bar {
    background-color: #dca537;
}

.xp-bar {
    background-color: #dca537;
}

/* Footer */

.footer-container {
    background-color: #042434;
}

.icons {
    color: #dca537;
}

/* Media queries */

@media only screen and (min-width: 992px) {
    .contact-image {
        min-height: 20vw;
        border: 3px black solid;
        background-color: rgb(107, 75, 28);
    }

    .about-me-image {
        min-height: 300px;
        min-width: 300px;
    }
}